


:root {
  --bs-primary: #A6192E; 
  --bs-primary-rgb: 166, 25, 46;




}

.btn-primary {
  --bs-btn-bg: #A6192E; 
  --bs-btn-bg-rgb: 166, 25, 46;
  --bs-btn-border-color: #A6192E; 
  --bs-btn-border-color-rgb: 166, 25, 46;
  --bs-btn-hover-bg: #4b0b15; 
  --bs-btn-hover-bg-rgb: 75, 11, 21;
  --bs-btn-hover-border-color: #4b0b15; 
  --bs-btn-hover-border-color-rgb: 75, 11, 21;
}


body {
  
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 0px;
  display: flex;
  flex-direction: column;  
}

header {
  width: 100%;
}



.content {
    max-width: 900px;
    margin: 40px auto;
    
}


.joueur {
    display: flex;
    align-items: center; 
    gap: 20px;           
}